/* GENERAL */

h1 a, h2 a, h3 a, h1 a:hover, h2 a:hover, h3 a:hover{
color:white;
}
::-webkit-scrollbar {
  width: .5em;
  height: .5em;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f0340f;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a4250b;
}
::-webkit-scrollbar-thumb:active {
  background: #a4250b;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 51px;
}
::-webkit-scrollbar-track:hover, ::-webkit-scrollbar-track:active{
  background: #6e6e6e;
}
 
::-webkit-scrollbar-corner {
  background: transparent;
}

body{
	font-family: 'Signika Negative', sans-serif;
	font-size: 1.5em;
}



ul li{
	
	text-transform: uppercase;
}

.search{
	border-radius: 1em;
	border: 0.1em solid rgba(51, 27, 23, 0.5);
	padding: 0.3em;
	padding-left: 1em;
}

.search:focus{
	border-color: rgba(240, 52, 15, 1);
	outline: none;
}
#search-results{
	display:none;
}
.query{
	border-bottom: 0.1em dotted rgba(51, 27, 23, 0.5);
	color: #F0340F;
}

#top-menu{
	min-height:6em;
	border-bottom: 0.1em solid black;
	padding:2em;
	text-transform: uppercase;
}

i{
	margin-right: .3em;
}

#top-menu ul li{
	margin-right: 2em;
}
ul li a{
	color: #42787A;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	transition: border 0.1s;
	-webkit-transition: border 0.1s;
}
#top-menu ul li a:hover{
	text-decoration: none;
	border-bottom: 0.2em solid black;
	color: #331B17;
}
.title{
	font-weight: bold;
	font-size: 1.5em;
}

.title-nav{
	font-weight: bold;
	text-transform: uppercase;
}
.title a{
	color: #331B17;
}

.logout{
	margin-top: 0.5em;
}

.rev-todo{
	color:white;
	transform: skewX(20deg);
	-webkit-transform: skewX(20deg);
}
.small-letters{
	text-transform: lowercase;
}
#todo h3, #profile-name h1, #course-name h1, #todo-title h1{
	background-color: #F0340F;
	padding:0.3em;
	transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
}

#your-courses h3, #find-course h1, #submitted-title h3{
	background-color: #409C97;
	padding:0.3em;
	transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
}

#your-submissions h3, #sheet-name h1, #done-details h1, #teaching-title h1{
	background-color: #331B17;
	padding:0.3em;
	transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
}

.due-date{
	margin-left: 1em;
	font-weight: bold;
	background-color: #F8E8B5;
	color:#331B17;
	text-transform: lowercase;
	padding: 0.1em;

}

#todo ul li, #your-courses ul li, #your-submissions ul li, #profile ul li{
	margin-bottom: 1em;
}

#todo ul li a{
	color: #F0340F;
}

#todo ul li a:hover, #your-courses ul li a:hover, #your-submissions ul li a:hover{
	text-decoration: none;
	color: #331B17;
	font-weight: bold;
}

#your-courses ul li a{
	color: #409C97;
}

#your-submissions ul li a{
	color: #331B17;
}


#profile ul li{
	font-size: 1.2em;
}

.profile-property, .course-property{
	padding:0.3em;
	transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
}

.profile-property i, .course-property i{
	font-size: 0.8em;
}

.property-value{
	padding:0.3em;
	margin-left: 0.5em;
}

.option{
	background-color: transparent;
	border: 0.1em solid #42787A;
	color: #42787A;
	text-transform: uppercase;
	font-size: 0.9em;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
	transition: border-color 0.5s;
	-webkit-transition: border-color 0.5s;
	margin-bottom: 1em;
}

.option:hover{
	border-color: #F0340F;
	color: #F0340F;
}

.editable{
	border-bottom: 0.2em dotted rgba(51, 27, 23, .5);
}
.editable i{
	color: rgba(51, 27, 23, .5);
}

.editable input{
	 border: 0px solid #000000;
    border-bottom-width: 1px;
    background-color: transparent;
    text-transform: uppercase;
}

#editSchool:hover, #editID:hover, #editEmail:hover, .editable input:hover{
	background-color: #F8E8B5;
}

#editSchool, #editID, #editEmail{
	padding:0.3em;
}

.modal-btn{
	width:100%;
	font-size: 1.2em;
}
.modal-header{
	background-color: #331B17;
	color:white;
}

.modal{
	text-transform: uppercase;
}

.navmenu-toggle{
	background-color: transparent;
	font-size: 1.5em;
	border:none;
}

#add-course h1, #study-title h1{
	background-color: #42787A;
	padding:0.3em;
	transform: skewX(-20deg);
	-webkit-transform: skewX(-20deg);
}

.hide-me{
	display: none;
}
#search-by{
	margin-bottom: 1em;

}

#course-details, #sheet-details, #submitted-details{
	display:none;
}
.course-property{
	margin-bottom: 1em;
}

.course-property-school{
	background-color: #42787A;
}

.course-property-teachers{
	background-color: #6a382f;
}

.course-property-students{
	background-color: #d7b547;
}

.course-property-desc{
	background-color: #409C97;
}

.course-property-assignments{
	background-color: #331B17;
}

.assignment-list, .submission, .student-list, .sub-list, .one-todo, .one-sub{
	margin-bottom: 1em;
	text-transform: none;
	border-bottom: 0.2em dotted rgba(51, 27, 23, 0.5);
}

.student-list{
	padding-bottom: 0.5em;
}

.due{
	font-weight: bold;
}

.submitted{
	color: green;
}

.incomplete{
	color:red;
}
.assignment-name, .teacher-name{
	text-transform: uppercase;
	font-weight: bold;
}

.sheet-property-course{
	background-color: #F0340F;
}

.sheet-property-date{
	background-color: #409C97;
}

.sheet-property-submissions{
	background-color: #42787A;
}

.submitter-name{
	text-transform: uppercase;
}

.submission{
	font-weight: bold;
}
.admin{
	font-size:0.8em;
}

.view-submissions{
	padding:0.3em;
	margin-bottom: 0.3em;
	text-transform: uppercase;
}

#submitted-title a{
	color: white;
}
#submitted-title a:hover{
	color: white;
}
.one-todo{
	text-transform: uppercase;
}
.one-sub{
	padding-bottom:.5em;
	padding-top:.5em;
	text-transform: uppercase;
}
.one-sub:hover{
	background-color: #F8E8B5;
}

.regular-text{
	text-transform: none;
}

#deleteCourse button{
	font-size: 1em;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

.delete-this{
	color: #7f8c8d;
}
.cancel-this{
	font-weight: bold;
}