<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sallemli</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.qtip.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,600' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
 </head>
  <body>
  <nav id="NavMenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas hidden-md hidden-lg" role="navigation">
  <ul class="nav navmenu-nav">
    <li><a href="index.html">Home</a></li>
      <li v-for="item in items"><a href="{{item.url}}"><i class="fa {{item.icon}}"></i>{{item.name}}</a></li>
      <li><a href="{{message_link}}"><i class="fa fa-paper-plane-o"></i>{{messages}}</a></li>
      <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
  </ul>
</nav>

  <div class="container-fluid" id="top-menu">
  <div class="col-xs-12 col-md-10">
    <ul class="list-inline">
    <li> <button  data-toggle="offcanvas" data-target="#NavMenu" data-canvas="body" class="navmenu-toggle hidden-md hidden-lg">
    <i class="fa fa-bars"></i><span class="title-nav">Sallem.li</span>
  </button></li>
      <li class="title hidden-xs hidden-sm"><a href="index.html">Sallem.li</a></li>
      <li v-for="item in items" class="hidden-xs hidden-sm"><a href="{{item.url}}"><i class="fa {{item.icon}}"></i>{{item.name}}</a></li>
     <li class="hidden-xs hidden-sm"><a href="{{message_link}}"><i class="fa fa-paper-plane-o"></i>{{messages}}</a></li>
    </ul>
    </div>
    <div class="col-md-2 text-right   hidden-xs hidden-sm">
      <ul class="list-inline logout"><li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li></ul>
    </div>
  </div>
  <!--/TOP MENU-->
<!--SHEET-->
<div class="container" id="sheet-container">
  <div id="sheet-details">
    <div class="row" v-if="isAvailable">
      <div class="col-xs-12 col-md-6" id="sheet-name">
        <h1><div class="rev-todo text-center">{{all_courses[courseIndex].assignments[assignmentIndex].name}}</div></h1>
        <ul class="list-unstyled">
        <!--SHEET PROPERTY-->
          <li>
          <div class="row">
            <div class="col-xs-5 text-center course-property sheet-property-course">
              <div class="rev-todo">
                <i class="fa fa-ship"></i>
                Course:
              </div>
            </div>
            <div class="col-xs-7">
              <div class="property-value"><span><a href="course?{{all_courses[courseIndex].id}}" title="View Course">{{all_courses[courseIndex].name}}</a></span></div>
            </div>
          </div>
          </li>
          <!--/SHEET PROPERTY-->
          <!--SHEET PROPERTY-->
          <li>
          <div class="row">
            <div class="col-xs-5 text-center course-property sheet-property-date">
              <div class="rev-todo">
                <i class="fa fa-calendar"></i>
                Due Date:
              </div>
            </div>
            <div class="col-xs-7">
              <div class="property-value"><span>{{all_courses[courseIndex].assignments[assignmentIndex].date}}</span></div>
            </div>
          </div>
          </li>
          <!--/COURSE PROPERTY-->
        </ul>
         <div class="row" v-if="all_courses[courseIndex].teacher">
        <div class="col-xs-12">
        <ul class="list-unstyled list-inline">
          <li><button class="option"><i class="fa fa-download"></i>Download Assignment</button></li>
          <li><button class="option"><i class="fa fa-pencil"></i>Edit Assignment</button></li>
          <li><button class="option"><i class="fa fa-times"></i>Delete Assignment</button></li>
          </ul>
        </div>
        </div>
        <div class="row" v-else>
        <div class="col-xs-12">
        <ul class="list-unstyled list-inline">
          <li><button class="option"><i class="fa fa-download"></i>Download Assignment</button></li>
          <li><button class="option"><span v-if="all_courses[courseIndex].assignments[assignmentIndex].submitted"><i class="fa fa-check"></i>Submitted</span><span v-else><i class="fa fa-plus"></i>Submit Assignment</span></button></li>
          <li><button class="option"><i class="fa fa-envelope-o"></i>Contact Teacher</button></li>
        </ul>
        </div>
        </div>
        <!--SUBMISSIONS-->
        <div v-if="all_courses[courseIndex].teacher">
        <div class="row">
          <div class="col-xs-12 text-center course-property sheet-property-submissions">
              <div class="rev-todo">
                <i class="fa fa-plus"></i>
                SUBMISSIONS
              </div>
            </div>
        </div>
        <div class="row">
        <div class="col-xs-12">
          <ul class="list-unstyled">
            <li class="submission">
            <div class="row">
              <div class="col-xs-6 col-md-3 submitter-name">John Doe</div>
              <div class="col-xs-6 col-md-3 submitter-ID">2361</div>
              <div class="col-xs-6 col-md-3 submitter-date">2 months ago</div>
              <div class="col-xs-6 col-md-3 submitter-sheet"><button class="option"><i class="fa fa-download"></i>Download</button></div>
              </div>
            </li>
          </ul>
        </div>
        </div>
       </div>
        <!--/SUBMISSIONS-->
      </div>
      </div>
  </div>
</div>
<!--SHEET CONTAINER-->
  <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.qtip.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/db.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jeditable.js"></script>
    <script src="js/assignment.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
  <!--/SCRIPTS-->
  </body>
</html>