<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sallemli</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.qtip.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,600' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
 </head>
  <body>
  <nav id="NavMenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas hidden-md hidden-lg" role="navigation">
  <ul class="nav navmenu-nav">
    <li><a href="index.html">Home</a></li>
      <li v-for="item in items"><a href="{{item.url}}"><i class="fa {{item.icon}}"></i>{{item.name}}</a></li>
      <li><a href="{{message_link}}"><i class="fa fa-paper-plane-o"></i>{{{messages}}}</a></li>
      <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
  </ul>
</nav>

  <div class="container-fluid" id="top-menu">
  <div class="col-xs-12 col-md-10">
    <ul class="list-inline">
    <li> <button  data-toggle="offcanvas" data-target="#NavMenu" data-canvas="body" class="navmenu-toggle hidden-md hidden-lg">
    <i class="fa fa-bars"></i><span class="title-nav">Sallem.li</span>
  </button></li>
      <li class="title hidden-xs hidden-sm"><a href="index.html">Sallem.li</a></li>
      <li v-for="item in items" class="hidden-xs hidden-sm"><a href="{{item.url}}"><i class="fa {{item.icon}}"></i>{{item.name}}</a></li>
 <!--ALERTS DROPDOWN-->
    <li class="hidden-xs hidden-sm">
      <div class="dropdown" id="alerts-dropdown">
        <button type="button" id="alerts-dropdown-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="fa fa-paper-plane-o"></i> {{{messages}}}
        </button>
        <div class="dropdown-menu" aria-labelledby="alerts-dropdown-button" id="alerts-dropdown-menu">
        <ul class="list-unstyled">
          <li class="alert-item" v-for="alert in all_alerts | orderBy 'date' -1"><i class="fa fa-circle" style="color: #F0340F;" v-if="alert.isNew"></i><i class="fa fa-circle-o" v-else></i><a href="{{alert.link}}">{{alert.text}}.</a></li>
        </ul>
        <ul class="list-unstyled">
          <li role="separator" class="divider"></li>
          <li class="see-all"><a href="{{message_link}}">See All Alerts</a></li>
        </ul>
        </div>
      </div>
    </li>
    <!--/ALERTS DROPDOWN-->     </ul>
    </div>
    <div class="col-md-2 text-right   hidden-xs hidden-sm">
      <ul class="list-inline logout"><li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li></ul>
    </div>
  </div>
  <!--/TOP MENU-->
  <!--COURSE-->
  <div id="course-container" class="container">
    <div id="course-details">
      <div class="row" v-if="isAvailable">
      <div class="col-xs-12 col-md-8" id="course-name">
        <h1><div class="rev-todo text-center">{{all_courses[courseIndex].name}}</div></h1>
        <ul class="list-unstyled">
        <!--COURSE PROPERTY-->
          <li>
          <div class="row">
            <div class="col-xs-5 text-center course-property course-property-school">
              <div class="rev-todo">
                <i class="fa fa-graduation-cap"></i>
                School:
              </div>
            </div>
            <div class="col-xs-7">
              <div class="property-value"><span>{{all_courses[courseIndex].school}}</span></div>
            </div>
          </div>
          </li>
          <!--/COURSE PROPERTY-->
          <!--COURSE PROPERTY-->
          <li>
          <div class="row">
            <div class="col-xs-5 text-center course-property course-property-desc">
              <div class="rev-todo">
                <i class="fa fa-info"></i>
                Description:
              </div>
            </div>
            <div class="col-xs-7" v-if="all_courses[courseIndex].desc">
              <div class="property-value"><span>{{all_courses[courseIndex].desc}}</span></div>
            </div>
          </div>
          </li>
          <!--/COURSE PROPERTY-->
        </ul>
        <div class="row" v-if="all_courses[courseIndex].teacher">
          <div class="col-xs-12">
            <ul class="list-unstyled list-inline">
                <li><button class="option" v-if="all_courses[courseIndex].admin"  data-toggle="modal" data-target="#addTeacher"><i class="fa fa-plus"></i>Add Teacher</button></li>
                <li><button class="option"  data-toggle="modal" data-target="#addAssignment"><i class="fa fa-plus"></i>Add Assignment</button></li>
                <li><button class="option"  data-toggle="modal" data-target="#editCourse"><i class="fa fa-pencil"></i>Edit Course</button></li>
                <li><button class="option" v-if="all_courses[courseIndex].admin"  data-toggle="modal" data-target="#deleteCourse"><i class="fa fa-trash"></i>Delete Course</button></li>
            </ul>
          </div>
        </div>
        <div class="row" v-else>
          <div class="col-xs-12">
            <ul class="list-unstyled list-inline" v-if="all_courses[courseIndex].subscribed">
              <li><button class="option" v-if="hasAssignments" data-toggle="modal" data-target="#submitAssignment"><i class="fa fa-plus"></i>Submit Assignment</button></li>
              <li><button class="option"  data-toggle="modal" data-target="#contactTeacher"><i class="fa fa-envelope-o"></i>Contact Teacher</button></li>
              </ul>
              <ul class="list unstyled list-inline" v-else>
              <li><button class="option"><i class="fa fa-graduation-cap"></i>Are you a teacher?</button></li>
              <li> <button class="option"><i class="fa fa-plus"></i>Subscribe</button></li>
             </ul>
          </div>
        </div>
          <!--TEACHERS-->
          <div class="row">
            <div class="col-xs-12 text-center course-property course-property-teachers">
              <div class="rev-todo">
                <i class="fa fa-coffee"></i>
                TEACHERS
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12">
            <ul class="list-unstyled">
                <li v-for="teacher in teachers" class="assignment-list">
                  <div class="row">
                    <div class="col-xs-6 teacher-name">
                     <i class="fa fa-user"></i>{{teacher.name}} <span v-if="teacher.admin" class="admin">(Admin)</span>
                    </div>
                    <div class="col-xs-6 text-right" v-if="all_courses[courseIndex].admin">
                      <span v-if="teacher.admin"></span><span v-else><a href="#" class="remove-teacher-button" id="{{teacher.id}}" ><i class="fa fa-times"></i>REMOVE</a></span>
                    </div>
                  </div>
                </li>
            </ul>
            </div>
          </div>
          <!--/TEACHERS-->
        <!--ASSIGNMENTS-->
          <div class="row">
            <div class="col-xs-12 text-center course-property course-property-assignments">
              <div class="rev-todo">
                <i class="fa fa-file-text"></i>
                ASSIGNMENTS
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12">
            <ul class="list-unstyled"  v-if="all_courses[courseIndex].assignments">
                <li v-for="assignment in all_courses[courseIndex].assignments" class="assignment-list">
                  <div class="row">
                    <div class="col-xs-12 col-md-4 assignment-name">
                      <a href="assignment?{{all_courses[courseIndex].id}}&{{assignment.id}}" title="View Assignment"><i class="fa fa-anchor"></i>{{assignment.name}}</a>
                    </div>
                    <div class="col-xs-6 col-md-4 due">
                    due {{assignment.due}}
                    </div>
                    <div class="col-xs-6 col-md-4 text-right">
                    <span v-if="all_courses[courseIndex].teacher">{{assignment.submissions}} submitted</span>
                    <span v-else>
                    <span v-if="assignment.submitted" class="submitted"><i class="fa fa-check"></i>Submitted</span><span class="incomplete" v-else><i class="fa fa-exclamation"></i>Incomplete</span>
                    </span>
                    </div>
                  </div>
                </li>
            </ul>
            <div v-else><h4>No assignments, yet!</h4></div>
            </div>
          </div>
          <!--/ASSIGNMENTS-->
          <!--STUDENTS-->
          <div v-if="all_courses[courseIndex].teacher">
          <div class="row">
            <div class="col-xs-12 text-center course-property course-property-students">
              <div class="rev-todo">
                <i class="fa fa-graduation-cap"></i>
                STUDENTS
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xs-12">
            <ul class="list-unstyled"  v-if="all_courses[courseIndex].students">
                <li v-for="student in all_courses[courseIndex].students | orderBy 'id'" id="{{student.id}}" class="student-list">
                  <div class="row">
                    <div class="col-xs-4 assignment-name">
                      <i class="fa fa-child"></i>{{student.name}}
                    </div>
                    <div class="col-xs-2">{{student.id}}</div>
                    <div class="col-xs-6 text-right" id="view-subs-{{student.id}}">
                    <a class="view-submissions" href="submitted?{{all_courses[courseIndex].id}}&{{student.id}}"><i class="fa fa-eye"></i>View Submissions</a>
                    </div>
                  </div>
                </li>
            </ul>
            <div v-else><h4>No students have subscribed, yet!</h4></div>
            </div>
          </div>
          </div>
          <!--/STUDENTS-->
        
      </div>
      <!--MESSAGES-->
   <div class="col-xs-12 col-md-4" id="all-messages-details" v-if="all_courses[courseIndex].teacher">
      <div class="row">
       <div class="col-xs-12 course-property-messages hidden-md hidden-lg">
         <div class="rev-todo text-center">
         <i class="fa fa-envelope"></i>
         MESSAGES & COMPLAINTS
         </div>
       </div>
       <div class="col-xs-12  hidden-xs hidden-sm">
         <span class="messages-desktop">
          MESSAGES & COMPLAINTS
         </span>
       </div>
       <div class="col-xs-12">
       <span class="hide-resolved">
        <a href="#" v-on:click="togglehide">
         <i class="fa fa-check-square-o" v-if="hiddenResolved"></i><i class="fa fa-square-o" v-else></i>Hide resolved
         </a>
        </span>
       </div>
     </div>
     <div class="row">
       <div class="col-xs-12 message-all">
         <ul class="list-unstyled" v-if="hasMessages">
           <li v-for="message in messages | orderBy 'date' -1" class="one-message resolved-{{message.resolved}}"  v-on:click="markSeen(message)">
           <div class="message-details">
           
             <div class="row">
               <div class="col-xs-12">
                 <span class="alert-header"><i class="fa fa-asterisk" style="color: red;" v-if="isNew(message)"></i><i class="fa fa-angle-right" v-else></i><h4>{{message.sender.name}} [{{message.sender.id}}]</h4></span>
               </div>
               <div class="col-xs-12 message-date">
               {{message.date}}
             </div>
               <div class="col-xs-12 show-message-all">
                 <span class="show-message modal-btn text-left"><i class="fa fa-angle-double-right"></i>Show message </span>
                 </div>
             </div>
               <div class="row message-content">
                 <div class="col-xs-12">
                   <h5>{{message.subject}}</h5>
                   <p>{{message.message}}</p>
                  <span class="message-reply" v-if="message.email">REPLY TO: <a href="mailto:{{message.email}}">{{message.email}}</a></span>
                  <span class="message-reply"><a href="#" class="message-resolve" v-on:click="resolve(message)">
                  <span v-if="message.resolved"><i class="fa fa-check-square-o"></i>RESOLVED!</span>
                  <span v-else><i class="fa fa-square-o"></i>MARK AS RESOLVED</span>
                  </a>
                  </span>
                 </div>
                 
               </div>
             </div>
             <hr>
           </li>
           
         </ul>
         <h4 class="no-messages" v-else>This course doesn't have any messages, yet!</h4>
       </div>
     </div>
   </div>
      <!--/MESSAGES-->
      </div>
    </div>
  </div>

    <!--MODALS-->
    <!--CONTACT TEACHER-->
     <div class="modal fade" id="contactTeacher" role="dialog" aria-labelledby="contactTeacherLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="contactTeacherLabel">Contact Teacher(s)</h4>
        </div>
        <div class="modal-body">
        <form class="form">
            <div class="form-group">
            <label for="contact-teacher-subject" class="control-label">Subject:</label>
            <input type="text" class="form-control" id="contact-teacher-subject" placeholder="Example: Grading Complaint..">
            </div>
            <div class="form-group">
             <label for="description-edit" class="control-label">Message:</label>
            <textarea class="form-control" id="description-edit" placeholder="What do you want to say?"></textarea>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" checked> Request reply (include your e-mail in the message)
              </label>
            </div>
            <button type="submit" class="option modal-btn" id="contact-teacher-button">Send Message</button>
        </form>
        </div>
      </div>
     </div>
    </div>
    <!--/CONTACT TEACHER-->
   <!--EDIT COURSE-->
     <div class="modal fade" id="editCourse" role="dialog" aria-labelledby="editCourseLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="editCourseLabel">Edit Course</h4>
        </div>
        <div class="modal-body">
        <form class="form">
            <div class="form-group">
            <label for="new-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="new-name" value="{{name}}">
            </div>
            <div class="form-group">
             <label for="description-edit" class="control-label">Description:</label>
            <textarea class="form-control" id="description-edit">{{description}}</textarea>
            </div>
            <button type="submit" class="option modal-btn" v-on:click="editCourse">Edit Course</button>
        </form>
        </div>
      </div>
     </div>
    </div>
    <!--/EDIT COURSE-->
     <!--DELETE COURSE-->
     <div class="modal fade" id="deleteCourse" role="dialog" aria-labelledby="deleteCourseLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="deleteCourseLabel">Delete Course</h4>
        </div>
        <div class="modal-body text-center">
        <h4 class="regular-text">Are you sure you want to delete this course?</h4>
        <button class="option delete-this-course"><i class="fa fa-trash"></i>Yes, delete this</button>
        <button class="option cancel-this-course"><i class="fa fa-times"></i>No, CANCEL</button>
        </div>
      </div>
     </div>
    </div>
    <!--/DELETE COURSE-->
    <!--ADD ASSIGNMENT-->
     <div class="modal fade" id="addAssignment" role="dialog" aria-labelledby="addAssignmentLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addAssignmentLabel">Add Assignment</h4>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group">
            <label for="sheet-name" class="control-label">Name:</label>
            <input type="text" class="form-control" id="sheet-name">
            </div>
            <div class="form-group">
             <label for="description-edit" class="control-label">Due date:</label>
              <input type="date" class="form-control" id="sheet-due-date">
            </div>
            <label for="sheet-file" class="control-label">File:</label>
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
              <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
              <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input id="sheet-file" type="file" name="..."></span>
              <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
            <button type="submit" id="add-assignment-button" class="option modal-btn">Add Assignment</button>
        </form>
        </div>
      </div>
     </div>
    </div>
    <!--/ADD ASSIGNMENT-->
    <!--SUBMIT ASSIGNMENT-->
     <div class="modal fade" id="submitAssignment" role="dialog" aria-labelledby="submitAssignmentLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="submitAssignmentLabel">Submit Assignment</h4>
        </div>
        <div class="modal-body">
          <form class="form">
            <div class="form-group">
            <label for="sheet-to-submit-name" class="control-label">Assignment:</label>
            <select class="form-control" id="sheet-to-submit-name"  v-if="hasUnsubs">
              <option v-for="unsub in unsubmitted" value="{{unsub.id}}">{{unsub.name}}</option>
            </select>
            <select class="form-control" id="sheet-to-submit-name"  v-else>
              <option disabled>No Assignments Left</option>
            </select>
            </div>
            <label for="sheet-to-submit-file" class="control-label">File:</label>
            <div class="fileinput fileinput-new input-group" data-provides="fileinput">
              <div class="form-control" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
              <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input id="sheet-to-submit-file" type="file" name="..."></span>
              <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
          </div>
            <button type="submit" id="submit-assignment-button" class="option modal-btn" v-on:click="submitAssignment">Submit</button>
        </form>
        </div>
      </div>
     </div>
    </div>
    <!--/SUBMIT ASSIGNMENT-->
     <!--ADD TEACHER-->
     <div class="modal fade" id="addTeacher" role="dialog" aria-labelledby="addTeacherLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="addTeacherLabel">Add Teacher</h4>
        </div>
        <div class="modal-body">
        <form class="form">
            <div class="form-group" id="email-form-group">
            <label for="teacher-email" class="control-label">E-mail</label>
            <input type="email" class="form-control" id="teacher-email">
            </div>
            <button type="submit" class="option modal-btn" id="add-teacher-button">Invite Teacher</button>
        </form>
        </div>
      </div>
     </div>
    </div>
    <!--/ADD TEACHER-->
     <!--REMOVE TEACHER-->
     <div class="modal fade" id="removeTeacher" role="dialog" aria-labelledby="removeTeacherLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="removeTeacherLabel">Remove Teacher</h4>
        </div>
        <div class="modal-body text-center">
        <h4 class="regular-text">Are you sure you want to remove {{teacherName}}?</h4>
        <button class="option delete-this-teacher" v-on:click="removeTeacher"><i class="fa fa-trash"></i>Yes, remove them</button>
        <button class="option cancel-this-teacher"><i class="fa fa-times"></i>No, CANCEL</button>
        </div>
      </div>
     </div>
    </div>
    <!--/REMOVE TEACHER-->
  <!--/MODALS-->
  
  <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.qtip.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/db.js"></script>
    <script src="js/course.js"></script>
    <script src="js/contact-teacher.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jeditable.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
  <!--/SCRIPTS-->
  </body>
</html>