<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sallemli</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.qtip.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,600' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
 </head>
  <body>
  
  <!--TOP MENU-->
  <div class="container-fluid" id="top-menu">
  <div class="col-md-8">
    <ul class="list-inline">
      <li class="title">Sallem.li</li>
      <li v-for="item in items"><a href="{{item.url}}"><i class="fa {{item.icon}}"></i>{{item.name}}</a></li>
    </ul>
    </div>
    <div class="col-md-4 text-right">
      <ul class="list-inline logout"><li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li></ul>
    </div>
  </div>
  <!--/TOP MENU-->
  <div class="container content">
  <div class="col-xs-12 col-md-2" id="todo">
  <h3><div class="rev-todo text-center">Todo:</div></h3>
  <ul class="list-unstyled">
    <li v-for="assignment in assignments"><i class="fa fa-chevron-right"></i><a href="{{assignment.url}}" title="{{assignment.course}}">{{assignment.name}}</a><br><span class="due-date" title="{{assignment.date}}"><i class="fa fa-clock-o"></i>due {{assignment.due}}.</span></li>
  </ul>
  </div>
  <div class="col-xs-12 col-md-6" id="your-courses">
    <h3><div class="rev-todo text-center">Your Courses:</div></h3>
    <ul class="list-unstyled">
      <li v-for="course in courses"><i class="fa {{course.icon}}"></i><a href="{{course.url}}">{{course.name}}</a></li>
    </ul>
  </div>
  <div class="col-xs-12 col-md-4" id="your-submissions">
    <h3><div class="rev-todo text-center">Your Submissions:</div></h3>
    <h4>No submissions, yet!</h4>
  </div>
  </div>
  <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.qtip.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/script.js"></script>
  <!--/SCRIPTS-->
  </body>
</html>