<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sallemli</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.qtip.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,600' rel='stylesheet' type='text/css'>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
 </head>
  <body>
  <nav id="NavMenu" class="navmenu navmenu-default navmenu-fixed-left offcanvas hidden-md hidden-lg" role="navigation">
  <ul class="nav navmenu-nav">
    <li><a href="index.html">Home</a></li>
      <li v-for="item in items"><a href="{{item.url}}"><i class="fa {{item.icon}}"></i>{{item.name}}</a></li>
      <li><a href="{{message_link}}"><i class="fa fa-paper-plane-o"></i>{{messages}}</a></li>
      <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
  </ul>
</nav>

  <div class="container-fluid" id="top-menu">
  <div class="col-xs-12 col-md-10">
    <ul class="list-inline">
    <li> <button  data-toggle="offcanvas" data-target="#NavMenu" data-canvas="body" class="navmenu-toggle hidden-md hidden-lg">
    <i class="fa fa-bars"></i><span class="title-nav">Sallem.li</span>
  </button></li>
      <li class="title hidden-xs hidden-sm"><a href="index.html">Sallem.li</a></li>
      <li v-for="item in items" class="hidden-xs hidden-sm"><a href="{{item.url}}"><i class="fa {{item.icon}}"></i>{{item.name}}</a></li>
     <li class="hidden-xs hidden-sm"><a href="{{message_link}}"><i class="fa fa-paper-plane-o"></i>{{messages}}</a></li>
    </ul>
    </div>
    <div class="col-md-2 text-right   hidden-xs hidden-sm">
      <ul class="list-inline logout"><li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li></ul>
    </div>
  </div>
  <!--/TOP MENU-->
<!--SUBMITTED CONTAINER-->
<div class="container" id="submitted-container">
  <div class="col-xs-12 col-md-6" id="submitted-details">
     <div class="row" v-if="isAvailable">
      <div class="col-xs-12" id="submitted-title">
        <h3><div class="rev-todo text-center">{{studentName}} @ <a href="course?{{course.id}}">{{course.name}}</a></div></h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
      <h4>Submitted assignments:</h4>
        <ul class="list-unstyled">
          <li v-for="sub in submission_list" class="sub-list">
          <div class="row">
            <div class="col-xs-6">
              <a href="assignment?{{course.id}}&{{sub.id}}"><i class="fa fa-check"></i>{{sub.name}}</a>
            </div>
            <div class="col-xs-6 text-right">
              <button class="option"><i class="fa fa-download"></i>Download</button>
            </div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--SUBMITTED CONTAINER-->
  <!--SCRIPTS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.qtip.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/db.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jeditable.js"></script>
    <script src="js/submitted.js"></script>
    <script src="js/jasny-bootstrap.min.js"></script>
  <!--/SCRIPTS-->
  </body>
</html>